.user-profile-container {
	display: flex;
	width: 100%;
	align-items: center;
	padding: 20px 20px 20px 40px;
	border-bottom: 1px solid rgb(221, 221, 221);
}
.user-profile-container .user-image-container {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
}
.user-profile-container .user-image-container img {
	width: 100%;
	height: auto;
}

.user-profile-container .user-details .username {
	font-size: 30px;
}

.user-details .loader {
	border: 4px dotted rgb(116, 116, 233);
	/* border-top: 3px solid rgb(242, 242, 246); */
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: 30px auto;
}

.user-details .online-status-container {
	font-size: 20px;
}

.user-details .online-status-container .online-status {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgb(16, 224, 16);
}

.user-profile-container .chat-back-btn-container {
	display: none;
}

@media (max-width: 968px) {
	.user-profile-container .chat-back-btn-container {
		margin-left: auto;
		display: inline;
		cursor: pointer;
	}
}
