.App{
    display: flex;
    height: 100vh;
    overflow: clip;
}



/* media queries starts */
@media (max-width:968px){
    .App{
        display: block;
        position: relative;
    }  
}